.tela {
    background-color: white;
    height: 100vh;
    width: 100vw;
    padding: 24px;
    &.esmanhecer-esquerda {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
    }
}
