.tela {
    background-color: white;
    height: 100vh;
    left: 0;
    padding: 24px;
    position: absolute;
    top: 0;
    width: 100vw;
    &.esmanhecer-avancar-enter {
        left: 30vw;
        opacity: 0;
        z-index: 1;
    }
    &.esmanhecer-avancar-enter-active {
        left: 0;
        opacity: 1;
        transition: opacity 0.3s, left 0.6s;
    }
    &.esmanhecer-avancar-enter-done {
        z-index: 1;
    }
    @include tablet {
        background-color: red;
    }
}
